build --workspace_status_command hack/build/print-workspace-status.sh
test --test_output=errors

# helpful for dev
#test --test_output=streamed
#test --test_arg=-test.v
# TODO this is not working for the e2e tests
#test --test_arg=-test.parallel=8
