# -*- mode: gitignore; -*-

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE settings
.idea/

# Local environments
.direnv/
.envrc
shell.nix
.nixpkgs-version.json

# Editor's temporary files
*~
\#*\#
.\#*

# Build caches for docker build
.docker-build/

# log files
*.log

# OSX leaves these everywhere on SMB shares
._*

# OSX trash
.DS_Store

# Emacs save files
*~
\#*\#
.\#*

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# Compiled python files
*.pyc

bazel-bin
bazel-cockroach*
bazel-out
bazel-testlogs
.secrets
opm
faq
